/* Styles for the grey-out overlay */
.overlay {
    display: none; /* Start by hiding the overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    z-index: 9999; /* Make sure the overlay is above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --tertiary-color: #e306159f;
    --secondary-color: #E30613;
    --delete-link-color: #CC3434;
    --link-color: #81D4FA;
    --primary: #264b5d;
    --primary-fg: #eee;
    --body-fg: #eeeeee;
    --body-bg: #121212;
    --body-quiet-color: #e0e0e0;
    --body-loud-color: #ffffff;
    --breadcrumbs-link-fg: #e0e0e0;
    --breadcrumbs-bg: var(--primary);
    --link-fg: #81d4fa;
    --link-hover-color: #4ac1f7;
    --link-selected-fg: #6f94c6;
    --hairline-color: #272727;
    --border-color: #353535;
    --error-fg: #e35f5f;
    --message-success-bg: #006b1b;
    --message-warning-bg: #583305;
    --message-error-bg: #570808;
    --darkened-bg: #212121;
    --selected-bg: #1b1b1b;
    --selected-row: #00363a;
    --close-button-bg: #333333;
    --close-button-hover-bg: #666666;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}

.high-contrast-mode {
    --tertiary-color: #1d1c1c;
    --secondary-color: #000;
    --delete-link-color: #000;
    --link-color: #000;
    --primary: #79aec8;
    --secondary: #417690;
    --accent: #79aec8;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --header-color: var(--primary);
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: var(--primary);
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: var(--primary);
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}

.light-mode {
    --tertiary-color: #e306159f;
    --secondary-color: #E30613;
    --delete-link-color: #CC3434;
    --link-color: #0086c4;
    --primary: #79aec8;
    --secondary: #417690;
    --accent: #79aec8;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --header-color: #79aec8;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #79aec8;
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: #79aec8;
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}

.loader {
    border: 8px solid #FFFFFF;
    border-top: 8px solid #3498db;
    border-bottom: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.restore {
    color: var(--link-fg);
}

.delete {
    color: var(--delete-link-color);
}

.restore:hover,
.delete:hover {
    cursor: pointer;
}

.backups {
    float: right;
    width: 100%;
    position: relative;
}

#content-local-backup {
    margin-right: -620px;
}

#content-cloud-backup {
    margin-right: -1240px;
}

@media screen and (max-width: 1280px) {
    .backups {
        position: static;
        margin-right: 0;
    }

    #content-local-backup,
    #content-cloud-backup {
        margin-right: 0;
        float: none;
        position: static;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1893px) {
    #content-cloud-backup {
        margin-top: 456px;
        margin-right: -620px;
    }
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

#header {
    background: var(--secondary-color);
    color: #fff;
}
#header a:link, #header a:visited {
    color: #fff;
}

#header a:hover {
    color: #fff;
}

div.breadcrumbs {
    background: var(--tertiary-color);
    color: #c4dce8;
}
div.breadcrumbs a.active {
    color: #c4dce8;
    font-weight: 300 !important;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
    font-weight: 300 !important;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    /* background-color: #292D32; */
    background-color: #09ff00;
}

.paginator a:link, .paginator a:visited {
    background: #292D32;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--tertiary-color);
}
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #878787;
}

.module h2, .module caption, .inline-group h2 {
    background: var(--tertiary-color);
}
#user-tools a:focus, #user-tools a:hover {
    border: 0;
    color: #ddd;
}

.selector-chosen h2 {
    background: var(--tertiary-color) !important;
}

.calendar td.selected a {
    background: var(--tertiary-color) !important;
}

.calendar td a:focus, .timelist a:focus,
.calendar td a:hover, .timelist a:hover {
    background: var(--tertiary-color) !important;
}

#changelist-filter li.selected a {
    color: #444;
}

fieldset.collapsed .collapse-toggle {
    color: #444;
}

a:link, a:visited {
    color: var(--link-color);
}

a:focus, a:hover {
    color: #999;
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #444;
}

a.active.selector-chooseall:focus, a.active.selector-clearall:focus,
a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
    color: #999;
}

.calendar td a:active, .timelist a:active {
    background: #444;
}

.change-list ul.toplinks .date-back a:focus,
.change-list ul.toplinks .date-back a:hover {
    color: #222;
}

.paginator a.showall:focus, .paginator a.showall:hover {
    color: #222;
}

.paginator a:focus, .paginator a:hover {
    background: #222;
}

#changelist-filter a:focus, #changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
    color: #222;
}

.calendar td a:active, .timelist a:active {
    background: #292D32;
    color: white;
}

.calendar caption, .calendarbox h2 {
    background: #999;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: var(--secondary-color);
}

.button.default:hover, input[type=submit].default:hover {
    background: #191D22;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #292D32;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: var(--secondary-color);
}

.object-tools a:focus, .object-tools a:hover {
    background-color: #292D32;
}

input[type=file]::-webkit-file-upload-button:hover {
    border: 0;
    background: #292D32;
}

#changelist-filter {
    top: -250px;
    right: 15px;
}

#changelist-filter h2 {
    padding-top: 0px;
    padding-bottom: 0px
}
