* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    transition: all .23s ease-in-out;
}




:root{ //dark mode (default)
    --color-primary: #191d2b;
    --color-secondary: #E30613; // --color-secondary: #27AE60;
    --color-tertiary: #FFFFFF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #13181b;
    --color-chat-bubble-user: #E30613;
    --color-chat-bubble-bot: #2a2e35;
    --color-progression-bar: #000000;
    --color-toggle-on: #00ed64;
    --color-toggle-off: #ff0000; 
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2)
    //--transition-1: all .23s ease-in-out;
}

.light-mode{
    --color-primary: #FFFFFF;
    --color-secondary: #E30613; // --color-secondary: #b92261;
    --color-tertiary: #000000;
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-grey: #f8f8f8;
    --color-chat-bubble-user: #E30613;
    --color-chat-bubble-bot: #47535c;
    --color-progression-bar: #000000;
    --color-toggle-on: #00ed64;
    --color-toggle-off: #ff0000; 
    //removes invert filter from logo
    .top-bar {
        img{
            filter: none;
        }
    }
}

.high-contrast-mode{
    --color-primary: #FFFFFF;
    --color-secondary: #000000;
    --color-tertiary: #000000;
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-grey: #f8f8f8;
    --color-chat-bubble-user: #000000;
    --color-chat-bubble-bot: #000000;
    --color-progression-bar: #f8f8f8;
    --color-toggle-on: #000000;
    --color-toggle-off: #000000; 
    //removes invert filter from logo
    .top-bar {
        img{
            filter: none;
        }
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    color: var(--color-tertiary);
}



//defining 1 row and 2 columns to contain everything, 
//col 1 is only for navigation, col 2 for everything else

[class*="col-"] {
    float: left;
    height: 100%
}

.row {
    height: 100vh;
}

//width with nav open for screens between 800 and 1921 pixels
.col-1 {
    width: 18%;
}
.col-2 {
    width: 82%;
}
//width for nav closed
.col-1-closed {
    width: 4%;
    .sidebar{
        overflow-y: hidden;
        overflow-x: hidden;
        #menu-background-pattern {
            opacity: 0;
        }
    }
}
.col-2-closed{
    width: 96%;
}
/* Extra small devices below 800 width*/
@media only screen and (max-width: 800px) {
    .col-1{
        width: 52%;
    }
    .col-2{
        width: 48%;
    }
    //width for nav closed
    .col-1-closed {
        width: 11%;
        .sidebar{
            overflow-y: hidden;
            overflow-x: hidden;
            padding-top: 2vh;
            padding-left: 3vw;
        }
    }
    .col-2-closed{
        width: 89%;
    }
    .filter-and-search{
        font-size: 1.5vh;
    }
    .top-bar{
        h1 {
            font-size: 6vh !important;
            padding-top: 1vh !important;
        }
    }
    .dashboard-container{
        display: flex;
        flex-direction: column-reverse;
        .assessments{
            width: auto !important;
        }
        .grades{
            visibility: hidden;
            width: 0% !important;
            height: 0% !important;
        }
        .stats {
            width: auto !important;
        }
    }
}
/* small to medium devices above 800px*/
@media only screen and (min-width: 801px) and (max-width: 1400px) {
    .col-1{
        width: 33%;
    }
    .col-2{
        width: 67%;

    }
    //width for nav closed
    .col-1-closed {
        width: 10%;
        .sidebar{
            overflow-y: hidden;
            overflow-x: hidden;
            padding-top: 2vh;
            padding-left: 3vw;

        }
    }
    .col-2-closed{
        width: 90%;
        .content{
            top: 22%;
        }
    }
    .filter-and-search{
        font-size: 1.5vh;
    }
    .top-bar{
        h1 {
            font-size: 6vh !important;
            padding-top: 1vh !important;
        }
    }        
    .dashboard-container{
        display: flex;
        flex-direction: column-reverse;
        .assessments{
            width: auto !important;
        }
        .grades{
            width: auto !important;
        }
        .stats {
            width: auto !important;
        }
    }
} 
/* Extra large devices above 1921 width */
@media only screen and (min-width: 1921px) {
    .col-1{
        width: 15%;
    }
    .col-2{
        width: 85%;
    }
    //width for nav closed
    .col-1-closed {
        width: 4%;
        .sidebar{
            overflow-y: hidden;
            padding-top: 2vh;
            padding-left: 1vw;
        }
    }
    .col-2-closed{
        width: 96%;
    }
}

main:after {
    content: "";
    display: table;
    clear: both;
}

/* sidebar menu */
.sidebar{
    height: 100vh;
    width: inherit;
    color: var(--color-white);
    background-color: var(--color-secondary);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding-top: 3vh;
    padding-left: 1.5vw;
    .closebtn{
        z-index: 3;
        padding-left: 0.05vw;
        padding-right: 0.75vw;
        font-size: 3vh;
        cursor:pointer;
        position: relative;
        top: 30;
        color: var(--color-white);
    }
    .sidebar-items {
        display: flex;
        align-content: space-between;
        height: 88%;
        flex-wrap: wrap;
        .menu-items{
            a {
                z-index: 3;
                position: relative;
                cursor: pointer;
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                display: block;
                padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
                transition: opacity 400ms ease;
                font-family: 'Poppins', sans-serif;
                font-size: inherit;
                color: var(--color-white);
                // makes text non highlightable - thanks to https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
                -webkit-user-select: none; /* Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */
            }
        }
        .loggedInDisplay{
            background-color: var(--color-primary);
            width: 100%;
            height: 8%;
            display: grid;
            place-items: center;
            p{
                color: var(--color-tertiary); 
            }
        } 
    }

    #menu-background-pattern {
        z-index: -1;
        background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, transparent 9%);
        background-position: 0% 0%;
        background-size: 12vmin 12vmin;
        position: fixed;
        height: 200vh;
        left: 0px;
        top: 0px;
        transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease !important;
        width: inherit;
    }
}  

.toggleButton{
    // makes text non highlightable - thanks to https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/* below is the animation for the background for whenever a user hovers over a menu item, it will change the position of the pattern based on which item is being hovered over */ 
#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -12.5%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -37.5%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="4"] > #menu-background-pattern {
    background-position: 0% -62.5%;
}

#menu[data-active-index="5"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="6"] > #menu-background-pattern {
    background-position: 0% -87.5%;
}

#menu[data-active-index="7"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1; 
}

//Code to slide menu items off screen when column1 is closed
@keyframes slideMenuItemsIn {
    from{
        transform: translateX(-300px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.slideMenuItemsIn {
    animation-name: slideMenuItemsIn;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

//Code to slide menu items off screen when column1 is closed
@keyframes slideMenuItemsOut {
    from{
        transform: translateX(0);
        opacity: 1;
    }

    to{
        transform: translateX(-300px);
        opacity: 0;
    }
}

.slideMenuItemsOut {
    animation-name: slideMenuItemsOut;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* main content div for all pages */
.top-bar{
    padding-top: 3vh;
    padding-left: 5vw;
    position: fixed;
    z-index: 1;
    background-color: var(--color-primary);
    width: inherit;
    img{
        filter: invert(100%);
        float: left;
        width: 10%;
    }
    @media only screen and (max-width: 800px) {
        img{display: none};
    }
    h1{
        font-size: 7vh;
        padding-top: 4.5vh;
        top: 620px;
        left: 10px;
    }
}
.top-bar::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    background-color: var(--color-primary);
    position: relative;
    top: 22%;
    padding-bottom: 15vh;
    .chatbot {
        overflow-y: visible;
        padding-left: 5vw;
        padding-bottom: 5vh;

        div {
            padding-top: 3vh;
        }
    }

    .account-info {
        overflow-x: hidden;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-bottom: 5vh;
    }

    .accessability {
        overflow-x: hidden;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-bottom: 5vh;
    }

    .sign-in {
        overflow-x: hidden;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-bottom: 5vh;
        .g-recaptcha {
            overflow-y: hidden;
            overflow-x: hidden;
            width: auto;
            height: auto;
        }
    }
}

.bottom-bar {
    /* the bar that appears at the bottom of the chatbot page and gradedashboard page, this is pinned to the bottom of the screen */
    position: fixed;
    bottom: 0;
    width: inherit;
    background-color: var(--color-primary);
    min-height: 85px;

    /* where the user enters text to send to the chatbot */
    textarea {
        display: block;
        width: 85%;
        overflow-y: visible;
        text-align: left !important;
        position: relative;
        top: 7.5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
        border-radius: 30px;
        padding: 0.8rem 1.1rem;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        outline: none;
        border: none;
        background-color: var(--color-grey);
        color: var(--color-tertiary);
        height: 70%;
    }
}


.hidden{
    opacity: 0;
}



/* styling for the chat bubbles*/
.userText {
    overflow-x: visible;
    text-align: right;
    p {
        color: var(--color-white);
        overflow-wrap: break-word;
        line-height: 1.5em;
        display: inline-block;
        background: var(--color-chat-bubble-user);
        padding: 10px;
        border-radius: 8px;
        border-bottom-right-radius: 2px;
        max-width: 80%;
        margin-right: 50px;
        animation: floatup .5s forwards;
    }
    /* Extra small devices below 800 width*/
    @media only screen and (max-width: 800px) {
        p{margin-right: 18px;}
    }
    /* Extra large devices above 1921 width */
    @media only screen and (min-width: 1921px) {
        p{margin-right: 80px;}
    }
}

.botText {
    text-align: left;
    p {
        color: var(--color-white);
        overflow-wrap: break-word;
        line-height: 1.5em;
        display: inline-block;
        background: var(--color-chat-bubble-bot);
        padding: 10px;
        border-radius: 8px;
        border-bottom-left-radius: 2px;
        max-width: 80%;
        margin-left: 10px;
        animation: floatup .5s forwards;
    }
}

/* animation for whenever the chat bubble appears on screen */
@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* module information page */

/* container for all of the module tables */
.modules-container{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 50px;
    overflow-x: hidden;

    //formatting for each of the module tables
    .module-table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        padding-top: 30px;
        .main-module-info{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
        }
        .top-of-table{
            padding-top: 25px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 0;
                width: 100%;
                height: 1px;
                background-color: var(--color-secondary);
                transform: translateX(-50%);
            }
        }
    }
}
/* Extra small devices below 800 width*/
@media only screen and (max-width: 800px) {
    .modules-container{
        overflow-x: scroll;
    }
}
/* small to medium devices above 800px*/
@media only screen and (min-width: 801px) and (max-width: 1400px) {
    .modules-container{
        overflow-x: scroll;
    }
}


/* styling for search bar and filter */
.filter-and-search{
    z-index: 3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    .search-bar{
        width: 100%;
    }
}

.filter-container{
    z-index: 3;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}

.filter{
    z-index: 3;
    // makes text non highlightable - thanks to https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


/* styling for the multi select drop down menu that is used for the filters on the module info page and grade dashboard page */

.multiselect {
    width: 100%;
    z-index: 3;
}

.selectBox {
    position: relative;
    .filtersApplied{
        padding: 0.5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        background-color: var(--color-primary);
        color: var(--color-tertiary);
        font-size: inherit;
    }
    select {
        width: 100%;
    }
}

.overSelect {
    color: var(--color-tertiary);
    //background-color: var(--color-primary);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: var(--color-primary);
    max-height: 30vh;
    overflow-y: auto;
    label {
        z-index: 3;
        display: block;
        font-weight: normal;
        white-space: nowrap;
        min-height: 1.2em;
        padding: 0 2.25rem 0 .75rem;
        //padding: .375rem 2.25rem .375rem .75rem; 
    }
}

/* Grade Dashboard Page */
.dashboard-container{
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    top:5vh;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    //input widget where the grade will be displayed
    .assessments{
        z-index: -1;
        float: left;
        width: 17.7%;
        padding-bottom: 15vh;
        .assessment-grade{
            margin: 3.5px;
            height: 1vh;
            z-index: 20;
            width: 83px;
        }
    }
    //bar chart div
    .grades{
        height:100%;
        width:64%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        #stageGrades{
            transition: none;
        }
    }
    // styling for the divs that contian the stats for the grade dashboard
    .stats{
        float:right;
        width:17.7%;
        padding:10px;
        padding-bottom:60px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        .stat-item {
            width: 100%;
            height: 100%;
            border: 1px solid var(--color-grey);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);
            &:hover {
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }
            .stat-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text {
                    font-size: 4.44vh;
                    font-weight: 700;
                    color: var(--color-secondary);
                }
                .small-text {
                    text-transform: uppercase;
                    font-size: 1.78vh;
                    color: var(--color-tertiary);
                    letter-spacing: 2px;
                    
                }
            }
        }
    }
}

.grade-progression {
    padding-top: 6px;
    border-top: 2.5px solid var(--color-secondary);
    .title{
        text-align: center;
    }
    .degree-classifications{
        width:95%;
        margin-left: auto;
        margin-right: auto;
        span{
            display: inline-block;
            text-align: end !important;
            border-right: solid 1px var(--color-tertiary);
        }
        #third{
            width:40%;
        }
        #lower-second, #upper-second, #first{
            width: 10%;
        }
    }
    .progression-bar{
        display: flex;
        border-radius: 30px;
        width:95%;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px;
        border-color: var(--color-black);
        background-color: var(--color-progression-bar);
        #current-progression{
            align-self: stretch;
            display: inline-block;
            text-align: end;
            width: 40%;
            background-color: var(--color-secondary);
            color: var(--color-white);
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }
}


input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-toggle-off);
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #fff;
}

input[type="checkbox"]:checked {
    background: var(--color-toggle-on);
}

/* Login / pop up */

// Full-width input fields
.inputField, input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: var(--color-grey);
    color: var(--color-tertiary);
    font-size: inherit;
}

// Set a style for all buttons
button {
    font-size: inherit;
    background-color: var(--color-secondary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

#sign-up-2{
    display: none;
    text-align: center;
    div {
        padding: 30px;
    }
}

.accountInformation{
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}

#forgotPasswordLink {
    text-decoration: underline; // Remove the default underline
    cursor: pointer; // Change the cursor to a pointer on hover
}

.module-picker{
    h3 {
        padding: 5px;
    }
    .semesters{
        margin: auto;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        width: 95%;
        padding: 10px;
    }
}


// The Modal (blurred background effect for the pop-up) 
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    z-index: 999; /* Sit on top */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--color-primary);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation for pop ups */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}