# Python Virtual Environment
/.venv
activate_env.ps1
.vscode/settings.json
/Scripts
/Lib
/pyvenv.cfg

# django files
/Pathfinder/mysite/__pycache__/
/Pathfinder/database/__pycache__/
/Pathfinder/database/migrations/
./Pathfinder/main/migrations/
/Pathfinder/main/__pycache__/
/Pathfinder/test/__pycache__/
/Pathfinder/test/migrations/