# Python Virtual Environment
activate_env.ps1
.vscode/settings.json
/Scripts
/Lib
/pyvenv.cfg

# django files
/Pathfinder/mysite/__pycache__/
./Pathfinder/main/migrations/
/Pathfinder/main/__pycache__/