# Python Virtual Environment
/.venv
venv
activate_env.ps1
.vscode/settings.json
/Scripts
/Lib
/pyvenv.cfg
# /backups/dbBackup/*.dump
/backups/dbBackup/temp/*.dump
/backups/__pycache__
packages.txt

# django files
main/__pycache__/
test/__pycache__/
mysite/__pycache__/
database/__pycache__/
database/populateData/__pycache__/

*.sqlite3-shm
*.sqlite3-wal

__pycache__

testingDb.py