{% extends "admin/index.html" %}

<!-- 
    Author: @DeanLogan
-->

{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static 'assets/css/adminStyles.css' %}">{% endblock %}
{% block title %}Cloud Backups{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">Home</a>
        › Cloud Backup
    </div>
{% endblock %}

{% block content %}
    <h1>Cloud Backup</h1>
    {% block content-main %}
        <div class="overlay">
            <div class="overlay-content">
                <div class="loader"></div>
            </div>
        </div>
        <div>
            <div class="module">
                <table>
                    <caption>
                        <a href="/admin/cloudBackup/" class="section" title="Cloud Backups">Cloud Backups</a>
                    </caption>
                    <tbody id="cloudBackupTable"></tbody>
                </table>        
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'assets/js/adminFiles/databaseList.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block sidebar %}
{% endblock %}