{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinder</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
    <body>
        <main>
            <div class="sidebar" id="menu">
                <div class="toggleButton">
                    <p><span class="closebtn" onclick="navToggleOnGradeDashboardPage()">&#9776;</span>&nbsp;&nbsp;Pathfinder</p>
                </div>
                <br />
                <div id="menu-items">
                    <a href="/" class="menu-item">Home</a>
                    <a href="/ModuleInformation" class="menu-item">Module <br /> Information</a>
                    <a href='https://www.qub.ac.uk/' target="_blank" class="menu-item">Queen's Website</a>
                    <a href="/settings", target="_parent" class="menu-item">Settings</a>
                    {% if user.is_authenticated and user.username == "admin" %}
                        <a href="/admin" class="menu-item">Admin Page</a>
                    {% elif user.is_authenticated and user.username != "admin" %}
                        <a href="/GradeDashboard" class="menu-item">Grade Dashboard</a>
                    {% else %}
                        <a class="menu-item" onclick="document.getElementById('id01').style.display='block'">Login</a>
                        <a class="menu-item" onclick="document.getElementById('id02').style.display='block'">Sign-Up</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="/logout" class="menu-item">Logout</a>
                    {% endif %}
                </div>
                <div id="menu-background-pattern"></div>
            </div>
            <div class="content">
                <img src="{% static 'assets/img/pathfinder.png' %}" alt="logo" />
                <h1>Grade Dashboard</h1>
                
                <div class="filter-container">
                    <div class="filter">
                        <div id="myMultiselect" class="multiselect">
                            <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
                                <select class="filtersApplied">
                                    <option>Select Stage to Display</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="mySelectOptions">
                                <label for="stage">&nbsp;&nbsp;<input name="stageSelect" type="radio" id="stage-1" onchange="checkboxStatusChange()" value="stage-1" />1</label>
                                <label for="stage">&nbsp;&nbsp;<input name="stageSelect" type="radio" id="stage-2" onchange="checkboxStatusChange()" value="stage-2" />2</label>
                                <label for="stage">&nbsp;&nbsp;<input name="stageSelect" type="radio" id="stage-3" onchange="checkboxStatusChange()" value="stage-3" />3</label>
                                <label for="stage">&nbsp;&nbsp;<input name="stageSelect" type="radio" id="stage-4" onchange="checkboxStatusChange()" value="stage-4" />4</label>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="dashboard-container">
                    <div class="assesments">
                        <h3>Module 1</h3>
                        <p>&nbsp;&nbsp;Assesment 1: <input class="assesment-grade" type="text" placeholder="Grade" name="assesment1" required>%</p>
                    </div>
                    <div class="grades">
                        <canvas id="stageGrades"></canvas>
                    </div>
                    <div class="stats">
                        <div class="stat-item">
                            <div class="stat-text" id="module-avg">
                                <p class="large-text" id="modAvg">10%</p>
                                <p class="small-text">- module avg across all stages</p>
                            </div>
                        </div>
                        <div class="stat-item">
                            <div class="stat-text" id="assesment-avg">
                                <p class="large-text" id="asAvg">30%</p>
                                <p class="small-text">- assesment avg across all stages</p>
                            </div>
                        </div>
                        <div class="stat-item">
                            <div class="stat-text" id="left-to-earn">
                                <p class="large-text" id="leftToEarn">89%</p>
                                <p class="small-text">- left to earn of degree</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-bar grade-progression">
                <p class="title">Overall Degree Progress</p>
                <p class="degree-classifications">
                    <span id="third">3rd&nbsp;</span><span id="lower-second">2.2&nbsp;</span><span id="upper-second">2.1&nbsp;</span><span id="first">1st&nbsp;</span>
                </p>
                <p class="progression-bar"><span id="current-progression"><span id="grade"></span>%</span></p>
            </div>
        </main>

        <div id="id01" class="modal">
            <form class="modal-content animate" action="" method="">
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>
                    <label for="psw"><b>Password</b></label>
                    <input id="password" type="password" placeholder="Enter Password" name="psw" required>
                    <button onclick="login()" type="button">Login</button>
                    <button onclick="document.getElementById('id01').style.display='none'" type="button">Cancel</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container">
                    <span class="psw"><a href="#">Forget Password?</a></span>
                </div>
            </form>
        </div>

        <div id="id02" class="modal">
            <form id="sign-up-1" class="modal-content animate" onsubmit="nextSignUpStep()">
                <div class="container">
                    <h2>Enter Account Information</h2><br />
                    <p>All fields must be filled.</p><br /><br />
                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter name" name="name" required>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <label for="student-number"><b>Student Number</b></label>
                    <input type="text" placeholder="Enter student number" name="student-number" required>

                    <div class="Pathway">
                        <label><b>Pathway</b></label><br />
                        <label for="BIT"><input type="radio" id="BIT" name="pathway" value="BIT" onchange="updateStageOptions()" checked="true"/> BIT</label>
                        <label for="CS"><input type="radio" id="CS" name="pathway" value="CS" onchange="updateStageOptions()"/> CS</label>
                        <label for="SE3"><input type="radio" id="SE3" name="pathway" value="SE3" onchange="updateStageOptions()"/> SE 3 year</label>
                        <label for="SE4"><input type="radio" id="SE4" name="pathway" value="SE4" onchange="updateStageOptions()"/> SE 4 year</label>
                    </div>

                    <label for="stage"><b>Stage</b></label><br />
                    <label for="stage-1"><input type="radio" id="stage-1" name="stage" value="1"checked="true" /> 1</label>
                    <label for="stage-2"><input type="radio" id="stage-2" name="stage" value="2" /> 2</label>
                    <label for="stage-3"><input type="radio" id="stage-3" name="stage" value="3" /> 3</label>
                    <label for="stage-4" class="stage-4"><input type="radio" id="stage-4" name="stage" value="4" /> 4</label>
                    <br />

                    <label><b>Semester</b></label><br />
                    <label for="semester-1"><input type="radio" id="semester-1" name="semester" value="1" checked="true"/> 1</label>
                    <label for="semester-2"><input type="radio" id="semester-2" name="semester" value="2" /> 2</label>

                    <button onclick="goToSignUp2()" type="button">Next</button>
                    <button  onclick="document.getElementById('id02').style.display='none'">Cancel</button>
                </div>
            </form>

            <form id="sign-up-2" class="modal-content animate" action="" method="">
                <div class="container">
                    <h2>Enter Module Information</h2><br />
                    <p>Please select all of the optional modules which you took during the respective semesters (required modules will be automatically added).</p><br /><br />
                    <div class="module-picker"></div>
                    <button type="button" onclick="goToSignUp3()">Next</button>
                    <button type="button" onclick="goToSignUp1()">Back</button>
                    <button type="button" onclick="document.getElementById('id02').style.display='none'">Cancel</button>
                </div>
            </form>

            <div id="sign-up-3" class="modal-content animate">
                <div>
                    <h2>Congratulations!</h2><br /><br />
                    <p>Your account has been created. <br /> Please go to the Grade Calculator dashboard to enter the grades for your modules</p>
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.0/chart.min.js" integrity="sha512-lkEx3HSoujDP3+V+i46oZpNx3eK67QPiWiCwoeQgR1I+4kutWAuOSs3BxEUZt4U/mUfyY5uDHlypuQ1HHKVykA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'assets/js/general.js' %}"></script>
        <script src="{% static 'assets/js/gradeDashboardPage.js' %}"></script>
    </body>
</html>

{% endblock %}