{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinder</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
    <body class="main-content">
        <main>
            <div class="sidebar" id="menu">
                <div class="toggleButton">
                    <p><span class="closebtn" onclick="navToggle()">&#9776;</span>&nbsp;&nbsp;Pathfinder</p>
                </div>
                <br />
                <div id="menu-items">
                    <a href="/" class="menu-item">Home</a>
                    <a href="/GradeDashboard" class="menu-item">Grade Dashboard</a>
                    <a href="/ModuleInformation" class="menu-item">Module <br /> Information</a>
                    <a href='https://www.qub.ac.uk/' target="_blank" class="menu-item">Queen's Website</a>
                    <a class="menu-item" onclick="document.getElementById('id01').style.display='block'">Login</a>
                    <a class="menu-item">Sign-Up</a>
                    <a href="/settings", target="_parent" class="menu-item">Settings</a>
                </div>
                <div id="menu-background-pattern"></div>
            </div>
            <div id="chatbot">
                <img src="{% static 'assets/img/pathfinder.png' %}" alt="logo" />
                <h1>Settings</h1>
                <div>
                    <form class="modal-content animate" action="" method="">
                        <div class="container">
                            <label for="name"><b>Name</b></label>
                            <input type="text" placeholder="Enter Username" name="name" required>
                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Enter email" name="email" required>
                            <label for="snum"><b>Student Number</b></label>
                            <input type="text" placeholder="Enter student number" name="snum" required>
                            <label for="pathway"><b>Pathway</b></label>
                            <input type="text" placeholder="Enter pathway" name="pathway" required>
                            <label for="semester"><b>Current Semester</b></label>
                            <input type="text" placeholder="Enter semester" name="semester" required>
                            <label for="stage"><b>Current Stage</b></label>
                            <input type="text" placeholder="Enter stage" name="stage" required>
                            <button type="submit">Save Changes</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>
                        <div class="container">
                            <span class="psw"><a href="#">Forget Password?</a></span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="textbox">
                <textarea autocomplete="chrome-off" id="userInput" type="text" required placeholder="ENTER TEXT"></textarea>
            </div>
        </main>

        <div id="id01" class="modal">
            <form class="modal-content animate" action="" method="">
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <button type="submit">Login</button>
                    <button onclick="document.getElementById('id01').style.display='none'">Cancel</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container">
                    <span class="psw"><a href="#">Forget Password?</a></span>
                </div>
            </form>
        </div>

        <div class="theme-btn">
            <i class="fas fa-adjust"></i>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'assets/js/app.js' %}"></script>
    </body>
</html>

{% endblock %}