{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinder</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
    <body>
        <main>
            <div class="sidebar" id="menu">
                <div class="toggleButton">
                    <p><span class="closebtn" onclick="navToggle()">&#9776;</span>&nbsp;&nbsp;Pathfinder</p>
                </div>
                <br />
                <div id="menu-items">
                    <a href="/" class="menu-item">Home</a>
                    <a href="/GradeDashboard" class="menu-item">Grade Dashboard</a>
                    <a href="/ModuleInformation" class="menu-item">Module <br /> Information</a>
                    <a href='https://www.qub.ac.uk/' target="_blank" class="menu-item">Queen's Website</a>
                    <a class="menu-item" onclick="document.getElementById('id01').style.display='block'">Login</a>
                    <a class="menu-item" onclick="document.getElementById('id02').style.display='block'">Sign-Up</a>
                    <a href="/settings", target="_parent" class="menu-item">Settings</a>
                </div>
                <div id="menu-background-pattern"></div>
            </div>

            <div class="content">
                <img src="{% static 'assets/img/pathfinder.png' %}" alt="logo" />
                <h1>Settings</h1>
                <div>
                    <h2>Account Information</h2>
                    <form class="" action="" method="">
                        <label for="name"><b>Name: </b></label>
                        <input type="text" placeholder="Enter Username" name="name" required>
                        <label for="email"><b>Email: </b></label>
                        <input type="text" placeholder="Enter email" name="email" required>
                        <label for="snum"><b>Student Number: </b></label>
                        <input type="text" placeholder="Enter student number" name="snum" required>
                        <label for="pathway"><b>Pathway: </b></label>
                        <input type="text" placeholder="Enter pathway" name="pathway" required>
                        <label for="semester"><b>Current Semester: </b></label>
                        <input type="text" placeholder="Enter semester" name="semester" required>
                        <label for="stage"><b>Current Stage: </b></label>
                        <input type="text" placeholder="Enter stage" name="stage" required>
                        <button type="submit">Save Changes</button>
                    </form>

                    <h2>Accessability</h2>
                    <form onsubmit="return updateAccessabilityOptions()">
                        <label class="" for="theme"><b>Theme: </b></label>
                        <input type="radio" id="dark" name="theme" value="dark-mode" checked="checked">
                        <label for="dark">Dark</label>
                        <input type="radio" id="light" name="theme" value="light-mode">
                        <label for="light">Light</label>
                        <input type="radio" id="highContrast" name="theme" value="high-contrast-mode">
                        <label for="highContrast">High Contrast</label><br>
                        
                        <label><b>Font Size: </b></label>
                        <input type="radio" id="small" name="fontSize" value="small">
                        <label for="small">Small</label>
                        <input type="radio" id="medium" name="fontSize" value="medium" checked="checked">
                        <label for="medium">Medium</label>
                        <input type="radio" id="large" name="fontSize" value="large">
                        <label for="large">Large</label><br>
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </main>

        <div id="id01" class="modal">
            <form class="modal-content animate" action="" method="">
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <button type="submit">Login</button>
                    <button onclick="document.getElementById('id01').style.display='none'">Cancel</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container">
                    <span class="psw"><a href="#">Forget Password?</a></span>
                </div>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'assets/js/general.js' %}"></script>
        <script src="{% static 'assets/js/settingsPage.js' %}"></script>
    </body>
</html>

{% endblock %}