{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinder</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
    <body>
        <main>
            <div class="sidebar" id="menu">
                <div class="toggleButton">
                    <p><span class="closebtn" onclick="navToggle()">&#9776;</span>&nbsp;&nbsp;Pathfinder</p>
                </div>
                <br />
                <div id="menu-items">
                    <a href="/" class="menu-item">Home</a>
                    <a href="/ModuleInformation" class="menu-item">Module <br /> Information</a>
                    <a href='https://www.qub.ac.uk/' target="_blank" class="menu-item">Queen's Website</a>
                    <a href="/settings", target="_parent" class="menu-item">Settings</a>
                    {% if user.is_authenticated and user.username == "admin" %}
                        <a href="/admin" class="menu-item">Admin Page</a>
                    {% elif user.is_authenticated and user.username != "admin" %}
                        <a href="/GradeDashboard" class="menu-item">Grade Dashboard</a>
                    {% else %}
                        <a class="menu-item" onclick="document.getElementById('id01').style.display='block'">Login</a>
                        <a class="menu-item" onclick="document.getElementById('id02').style.display='block'">Sign-Up</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="/logout" class="menu-item">Logout</a>
                    {% endif %}
                </div>
                <div id="menu-background-pattern"></div>
            </div>

            <div class="content">
                <img src="{% static 'assets/img/pathfinder.png' %}" alt="logo" />
                <h1>Settings</h1>
                <div>
                    <h2>Account Information</h2>
                    <form class="" action="" method="">
                        <label for="name"><b>Name: </b></label>
                        <input type="text" placeholder="Enter Username" name="name" required>
                        <label for="email"><b>Email: </b></label>
                        <input type="text" placeholder="Enter email" name="email" required>
                        <label for="snum"><b>Student Number: </b></label>
                        <input type="text" placeholder="Enter student number" name="snum" required>
                        <label for="pathway"><b>Pathway: </b></label>
                        <input type="text" placeholder="Enter pathway" name="pathway" required>
                        <label for="semester"><b>Current Semester: </b></label>
                        <input type="text" placeholder="Enter semester" name="semester" required>
                        <label for="stage"><b>Current Stage: </b></label>
                        <input type="text" placeholder="Enter stage" name="stage" required>
                        <button type="submit">Save Changes</button>
                    </form>

                    <h2>Accessability</h2>
                    <form onsubmit="return updateAccessabilityOptions()">
                        <label class="" for="theme"><b>Theme: </b></label>
                        <input type="radio" id="dark" name="theme" value="dark-mode" checked="checked">
                        <label for="dark">Dark</label>
                        <input type="radio" id="light" name="theme" value="light-mode">
                        <label for="light">Light</label>
                        <input type="radio" id="highContrast" name="theme" value="high-contrast-mode">
                        <label for="highContrast">High Contrast</label><br>
                        
                        <label><b>Font Size: </b></label>
                        <input type="radio" id="small" name="fontSize" value="small">
                        <label for="small">Small</label>
                        <input type="radio" id="medium" name="fontSize" value="medium" checked="checked">
                        <label for="medium">Medium</label>
                        <input type="radio" id="large" name="fontSize" value="large">
                        <label for="large">Large</label><br>
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </main>

        <div id="id01" class="modal">
            <form class="modal-content animate" action="" method="">
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>
                    <label for="psw"><b>Password</b></label>
                    <input id="password" type="password" placeholder="Enter Password" name="psw" required>
                    <button onclick="login()" type="button">Login</button>
                    <button onclick="document.getElementById('id01').style.display='none'" type="button">Cancel</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container">
                    <span class="psw"><a href="#">Forget Password?</a></span>
                </div>
            </form>
        </div>

        <div id="id02" class="modal">
            <form id="sign-up-1" class="modal-content animate" onsubmit="nextSignUpStep()">
                <div class="container">
                    <h2>Enter Account Information</h2><br />
                    <p>All fields must be filled, then a request to the admin to create your account will be sent.</p><br /><br />
                    <label for="student-number-sign-up"><b>Student Number</b></label>
                    <input type="text" placeholder="Enter student number" name="student-number-sign-up" required>
                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter name" name="name" required>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>
                    
                    <label><b>Pathway</b></label><br />
                    <div class="Pathway">
                        <label for="BIT"><input type="radio" id="BIT" name="pathway" value="BIT" onchange="updateStageOptions()" checked="true"/> BIT</label>
                        <label for="CS"><input type="radio" id="CS" name="pathway" value="CS" onchange="updateStageOptions()"/> CS</label>
                        <label for="SE3"><input type="radio" id="SE3" name="pathway" value="SE3" onchange="updateStageOptions()"/> SE 3 year</label>
                        <label for="SE4"><input type="radio" id="SE4" name="pathway" value="SE4" onchange="updateStageOptions()"/> SE 4 year</label>
                    </div>

                    <label for="stage"><b>Stage</b></label><br />
                    <label for="stage-1"><input type="radio" id="stage-1" name="stage" value="1"checked="true" /> 1</label>
                    <label for="stage-2"><input type="radio" id="stage-2" name="stage" value="2" /> 2</label>
                    <label for="stage-3"><input type="radio" id="stage-3" name="stage" value="3" /> 3</label>
                    <label for="stage-4" class="stage-4"><input type="radio" id="stage-4" name="stage" value="4" /> 4</label>
                    <br />

                    <label><b>Semester</b></label><br />
                    <label for="semester-1"><input type="radio" id="semester-1" name="semester" value="1" checked="true"/> 1</label>
                    <label for="semester-2"><input type="radio" id="semester-2" name="semester" value="2" /> 2</label>

                    <button onclick="goToSignUp3()" type="button">Next</button>
                    <button  onclick="document.getElementById('id02').style.display='none'">Cancel</button>
                </div>
            </form>

            <!--
            code that will code that might be introduced again for the final system but will not be used during prototype

            <form id="sign-up-2" class="modal-content animate" action="" method="">
                <div class="container">
                    <h2>Enter Module Information</h2><br />
                    <p>Please select all of the optional modules which you took during the respective semesters (required modules will be automatically added).</p><br /><br />
                    <div class="module-picker"></div>
                    <button type="button" onclick="goToSignUp3()">Next</button>
                    <button type="button" onclick="goToSignUp1()">Back</button>
                    <button type="button" onclick="document.getElementById('id02').style.display='none'">Cancel</button>
                </div>
            </form>
            -->

            <div id="sign-up-3" class="modal-content animate">
                <div>
                    <h2>Sign Up Request Submitted!</h2><br /><br />
                    <p>Your information has been sent to the admin <br /> Once the admin creates your, they'll send an email with your login details <br />If you have any questions please contact the admin here: <span id="admin-email"></span></p>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'assets/js/general.js' %}"></script>
        <script src="{% static 'assets/js/settingsPage.js' %}"></script>
    </body>
</html>

{% endblock %}