{% extends "admin/index.html" %}
{% load static %}
{% block content %}
    <div id="content-main">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
        <div class="module"><input type="submit" value="Backup"></div>
    </div>
{% endblock %}

{% block sidebar %}
    <style>
    .backups {
        float: right;
        width: 100%;
        position: relative;
    }

    #content-local-backup {
        margin-right: -620px;
    }

    #content-cloud-backup {
        margin-right: -1240px;
    }

    @media screen and (max-width: 1280px) {
        .backups {
            position: static;
            margin-right: 0;
        }

        #content-local-backup,
        #content-cloud-backup {
            margin-right: 0;
            float: none;
            position: static;
        }
    }

    @media screen and (min-width: 1280px) and (max-width: 1893px) {
        #content-cloud-backup {
            margin-top: 456px;
            margin-right: -620px;
        }
    }

    </style>

    <div id="content-local-backup" class="backups">
        <div class="module">
            <table>
                <caption>
                    <a href="/admin/backups/" class="section" title="Local Backups">Local Backups</a>
                </caption>
                <tbody id="localBackupTable"></tbody>
            </table>
        </div>
    </div>
    
    <div id="content-cloud-backup" class="backups">
        <div class="module">
            <table>
                <caption>
                    <a href="/admin/backups/" class="section" title="Cloud Backups">Cloud Backups</a>
                </caption>
                <tbody id="cloudBackupTable"></tbody>
            </table>        
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/adminFiles/databaseList.js' %}"></script>
{% endblock %}
