* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    transition: all .23s ease-in-out;
    overflow: hidden;
}


:root{ //dark mode (default)
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-tertiary: #FFFFFF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #13181b;
    --color-chat-bubble-user: #27AE60;
    --color-chat-bubble-bot: #2a2e35;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2)
    //--transition-1: all .23s ease-in-out;
}

.light-mode{
    --color-primary: #FFFFFF;
    --color-secondary: #b92261;
    --color-tertiary: #000000;
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-grey: #f8f8f8;
    --color-chat-bubble-user: #b92261;
    --color-chat-bubble-bot: #47535c;
}

.high-contrast-mode{
    --color-primary: #FFFFFF;
    --color-secondary: #000000;
    --color-tertiary: #000000;
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-grey: #f8f8f8;
    --color-chat-bubble-user: #000000;
    --color-chat-bubble-bot: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-tertiary);
    transition: all .23s ease-in-out;
    overflow-y: visible;
}

/* main content div for all pages */

.content{
    height: 100vh;
    overflow-y: visible;
    background-color: var(--color-primary);
    transition: all .23s ease-in-out;
    float: right;
    display: inline;
    position: absolute;
    padding-top: 28.11px;
    padding-left: 30px;
    padding-right: 30px;
    /* Resize image and header */
    img{
        float: left;
        width: 100px;
        height: 100px;
    }
    h1{
        position: relative;
        top: 32px;
        left: 10px;
        padding-bottom: 100px;
    }
    form{
        padding: 18px;
    }
}

.textbox{
    position: fixed;
    left: 0%;
    transition: all .23s ease-in-out;
    background-color: var(--color-primary);
    min-height:85px;
    position: absolute;
    bottom: -24px;
    margin: 1.5rem 0;
    padding-left: 60px;
    textarea{
        overflow-y: visible;
        text-align: left !important;
        position: absolute;
        top: 7.5px;
        border-radius: 30px;
        padding: 0.8rem 1.1rem;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        outline: none;
        border: none;
        background-color: var(--color-grey);
        color: var(--color-tertiary);
        height: 70%;
    }
}

.hidden{
    opacity: 0;
}

/* sidebar menu */

.sidebar{
    color: var(--color-white);
    white-space: nowrap;
    height: 100vh;
    background-color: var(--color-secondary);
    transition: all .23s ease-in-out;
    width: 55px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px;
    margin: 0px;
    .closebtn{
        font-size:30px !important;
        cursor:pointer;
        position: relative;
        top: 30;
        color: var(--color-white);
    }
    .menu-item {
        cursor: pointer;
        display: block;
        padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
        text-decoration: none;
        transition: opacity 400ms ease;
    }
    #menu-items{
        padding-left: 60px;
        a {
            font-family: 'Poppins', sans-serif;
            font-size: inherit;
            color: var(--color-white);
        }
    }
    #menu-background-pattern {
        background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, transparent 9%);
        background-position: 0% 0%;
        background-size: 12vmin 12vmin;
        position: absolute;
        height: 200vh;
        left: 0px;
        top: 0px;
        transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
        width: 250px;
        z-index: -2;
    }
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -12.5%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -37.5%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="4"] > #menu-background-pattern {
    background-position: 0% -62.5%;
}

#menu[data-active-index="5"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="6"] > #menu-background-pattern {
    background-position: 0% -87.5%;
}

#menu[data-active-index="7"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1; 
}

/* chat bubbles */

.userText {
    overflow-x: visible;
    text-align: right;
    p {
        color: var(--color-white);
        overflow-wrap: break-word;
        line-height: 1.5em;
        display: inline-block;
        background: var(--color-chat-bubble-user);
        padding: 10px;
        border-radius: 8px;
        border-bottom-right-radius: 2px;
        max-width: 80%;
        margin-right: 10px;
        animation: floatup .5s forwards;
    }
}

.botText {
    text-align: left;
    p {
        color: var(--color-white);
        overflow-wrap: break-word;
        line-height: 1.5em;
        display: inline-block;
        background: var(--color-chat-bubble-bot);
        padding: 10px;
        border-radius: 8px;
        border-bottom-left-radius: 2px;
        max-width: 80%;
        margin-left: 10px;
        animation: floatup .5s forwards;
    }
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Login pop up */

/* Full-width input fields - Also used in the settings page and signup pop up */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: var(--color-grey);
    color: var(--color-tertiary);
}

/* Set a style for all buttons - Also used in the settings page and signup pop up */
button {
    background-color: var(--color-secondary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: relative; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.test{
    background-color: yellow;
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--color-primary);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation for login */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}